* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lugrasimo", serif;
}

html,
body {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-container form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  padding: 10px;
  border: none;
  outline: none;
  width: 300px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

.pending-authors-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pending-authors-table th,
.pending-authors-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.pending-authors-table th {
  background-color: #f4f4f4;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.accept-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.accept-button {
  background-color: #28a745;
  color: white;
}

.accept-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
